name: Test Release (dry-run)

on:
  workflow_dispatch:

permissions:
  contents: read

env:
  POETRY_VERSION: "2.3.2"

jobs:
  dry-run:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0

      - run: pipx install poetry==${POETRY_VERSION}
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6
        with:
          python-version: "3.12"
          cache: "poetry"

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Run tests
        run: poetry run pytest -v

      - name: Semantic Release (dry-run)
        uses: python-semantic-release/python-semantic-release@754a065a2ea187da71977ada6630a8ec0f98e380 # v10.5.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          no_operation_mode: true
